* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Lora", serif;
    color: rgb(255, 255, 255);
}


.coffee-container {
    background-color: rgb(40, 37, 37);
    display: inline-block;
    max-width: 400px;
    padding: 20px;
    margin: 10px;
}

.coffee-card {
    border: 1px solid rebeccapurple;
    width: 600px;
    height: auto;
}

img {
    height: auto;
    width: 100%;
}