* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(36, 19, 7);
    color: wheat
}

.navbar {
    background-color: rgb(24, 12, 1);
    height: 70px;
    display: flex;
    align-items: center;
    box-shadow: 5px 8px 5px rgba(93, 53, 4, 0.493);
}



.nav-links-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.navbar a {
    text-decoration: none;
    color: wheat;
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: bold;

}

.navbar a:hover {
    font-size: 1.75rem;
}



.coffee-container {
    border: 1px solid wheat;
    display: flex;
    justify-content: space-around;
    height: auto;
    
    /* width: 100%; */
}

.coffee-card {
    /* border: 1px solid rebeccapurple; */
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: auto;
}

.coffee-card .featured-title {
    font-size: 2rem;
    margin-bottom: 30px;
    color: white;
}

.coffee-card .featured-drink {
    
    border: 1px solid rgb(93, 55, 8);
    background-color: rgba(192, 137, 70, 0.836);
    margin: 40px 0;
    box-shadow: 5px 8px 5px rgba(93, 53, 4, 0.493);
    width: 30%;
    float: right;
    color: white;

}

img {
    height: auto;
    width: 100%;
}


.coffee-break {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}


.coffee-break-title {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    column-gap: 1.6rem;
}

.coffee-break-title::before,
.coffee-break-title::after {
    content: "";
    height: 2px;
    background-color: wheat;
    display: block;
}

.hotCoffee-options-container {
    border: 1px solid red;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 50px;
    margin-top: 20px;
}

.icedCoffee-options-container {
    border: 1px solid greenyellow;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 50px;
    margin-top: 20px;
}

.coffee-options img {
    height: 300px;
    width: 300px;
}

.coffee {
    border: 1.5px solid rgb(85, 39, 2);
    margin: 20px;
    box-shadow: 5px 8px 5px rgba(93, 53, 4, 0.493);
}

.coffee-image img {
    height: 300px;
    width: 300px;
}

.coffee-drink {
    padding: 20px;
}

.coffee hr {
display: block;
border: 0;
margin-top: 10px;
border-top: 1px solid #7d4e24;
}

.coffee p {
margin: 10px 0;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 70px;
    background-color: rgb(24, 12, 1);
}
