
@import url("navFoot.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(36, 19, 7);
    color: wheat
}

/* Heading */
.heading {
    margin: 50px;
    padding: 0 10px;
    font-family: "Alex Brush", cursive;
    font-size: 2.5rem;
    font-weight: 400;
}


/* Featured Drink */
.coffee-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 10px;
    height: auto;
    margin: 50px;
    padding: 10px;
}

.coffee-card {
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: auto;
}

.coffee-card .featured-title {
    font-size: 2rem;
    margin-bottom: 30px;
    color: white;
    float: right;
}

.coffee-card .featured-drink {
    border: 1px solid rgb(93, 55, 8);
    background-color: rgba(192, 137, 70, 0.836);
    margin: 40px 0;
    padding: 2px 5px;
    box-shadow: 5px 8px 5px rgba(93, 53, 4, 0.493);
    width: 40%;
    color: white;
}

.coffee-image img {
    float: left;
    height: 400px;
    width: 400px;
}

/* Coffee Break between sections */
.coffee-break {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Alex Brush", cursive;
    font-size: 1.5rem;
    letter-spacing: 2px;
    margin-top: 40px;
}

.coffee-break-title {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    column-gap: 1.6rem;
}

.coffee-break-title::before,
.coffee-break-title::after {
    content: "";
    height: 2px;
    background-color: wheat;
    display: block;
}

/* Designing Coffee Cards */
.coffee {
    border: 1.5px solid rgb(85, 39, 2);
    margin: 20px;
    box-shadow: 5px 8px 5px rgba(93, 53, 4, 0.493);
}

.coffee-drink {
    padding: 20px;
}

.coffee hr {
display: block;
border: 0;
margin-top: 10px;
border-top: 1px solid #7d4e24;
}

.coffee p {
margin: 10px 0;
}

/* Hot Coffee */
.hotCoffee-options-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 50px;
    margin-top: 20px;
}

/* Hot Coffee */

.hotCoffee-options-container .coffee-options .coffee img{
    width: 100%;
    height: 400px;
}

/* Iced Coffee */
.icedCoffee-options-container {
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 50px;
    margin-top: 20px;
}

.icedCoffee-options-container .coffee-options .coffee img{
    width: 100%;
    height: 400px;
}



